{% extends 'base.html' %}
{% load static %}
{% block title %}订单添加{% endblock %}
{% block css %}
<link rel='stylesheet' href='{% static "/css/bootstrap-datetimepicker.min.css" %}' />
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-horizontal" action="{% url "login:add" %}" method="post">
            {% csrf_token %}
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            <div class="form-group">
                <label for="dtp_input2" class="col-sm-2 control-label">{{ order_form.name.label }}</label>
                <div class="col-sm-10">
                    {{ order_form.name }}
                </div>
            </div>
            <div class="form-group">
                <label for="dtp_input2" class="col-sm-2 control-label">{{ order_form.num.label }}</label>
                <div class="col-sm-10">
                    {{ order_form.num }}
                </div>
            </div>
            <div class="form-group">
                <label for="dtp_input2" class="col-sm-2 control-label">{{ order_form.price.label }}</label>
                <div class="col-sm-10">
                    {{ order_form.price }}
                </div>
            </div>
			<div class="form-group">
                <label for="dtp_input2" class="col-md-2 control-label">创建时间:</label>
                <div class="input-group date form_date col-md-10" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" name="time" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
            <div class="form-group">
                <label for="dtp_input2" class="col-sm-2 control-label">{{ order_form.customer_ser.label }}</label>
                <div class="col-sm-10">
                    {{ order_form.customer_ser }}
                </div>
            </div>
            <div class="form-group">
                <label for="dtp_input2" class="col-sm-2 control-label">{{ order_form.author.label }}</label>
                <div class="col-sm-10">
                    {{ order_form.author }}
                </div>
            </div>
            <div class="form-group">
                <label for="dtp_input2" class="col-sm-2 control-label">{{ order_form.detail.label }}</label>
                <div class="col-sm-10">
                    {{ order_form.detail }}
                </div>
            </div>
            <div class="form-group">
                <label for="dtp_input2" class="col-sm-2 control-label">{{ order_form.status.label }}</label>
                <div class="col-sm-10">
                    {{ order_form.status }}
                </div>
            </div>
            <button type="reset" class="btn btn-warning pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">提交</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static "/js/jquery-3.3.1.js" %}" type="text/javascript"></script>
     <script src="{% static "/js/bootstrap-datetimepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "/js/bootstrap-datetimepicker.zh-CN.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
	$('.form_date').datetimepicker({
        format: 'yyyy-m-d',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
  </script>
{% endblock %}